@import "tailwindcss";


button {
    border: 1px solid red;
    border-radius: 8%;
    padding: 0 5px;
    margin: 2px 5px;
}

input {
    border: 1px solid black;
    border-radius: 8%;
    background-color: #eee;
    padding: 0 5px;
    margin: 2px 5px;

}

.divdivider {
    padding: 10px;
    border: 1px solid;
    margin: 2px;
}